<div class="home">
    <div class="input">
        <div class="top">
            <div class="ui input">
                <input type="text" placeholder="From...">
            </div>
            <div class="ui button">
                Locate me!
            </div>
        </div>
            
        <div class="bottom">
            <div class="ui input">
                <input type="text" placeholder="To...">
            </div>
            <div class="send">
                    <div class="ui green button" routerLink="/status">Go!</div>
            </div>  
        </div>
        
    </div>
</div>
