.input {
    /* display: block; */
    /* padding: 10px; */
    /* background-color:lightblue; */
}
.home {

}
.send {
    /* background-color: red; */
    position:relative;
    right:108px;
    top:100px;
    width:16%;
    height:130px;
}
.ui.color1.button {
    background-color:#0f0099;
    color: white;
}
.top {
    position:absolute;
    top: 450px;
    left: 720px;
    /* background-color:lightblue; */
}
.bottom {
    /* background-color: lightblue; */
    position: absolute;
    top:520px;
    left:320px;
    width: 120%;
}
.background {
    background-image: url("/assets/background-newest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    height: 100%;
}