<div class="background">
<div class="ui label" style="position:absolute;top:0;right:0;font-size:24px">Tokens: {{tokens}}</div>
    <div class="home">
        <div class="top">
            <!-- <div class="ui massive input">
                <input type="text" placeholder="Origin" (input)="origin=$event.target.value">
            </div> -->
            <!-- <div class="ui button" style="padding:15px;position:relative;left:10px;">
                Locate me!
            </div> -->
        </div>
        <div class="bottom">
            <!-- <div class="ui massive input">
                <input type="text" placeholder="Destination" (input)="destination=$event.target.value">
            </div>            -->
            <sui-select class="selection" placeholder="Train" (selectedOptionChange)="setTrain($event)" style="position:relative;left:405px;padding:20px">
                    <sui-select-option *ngFor="let train of train_options" [value]="train.name"></sui-select-option>
            </sui-select>
            <div class="send">
                <div class="ui massive fluid green button" (click)="submit()">Go!</div>
            </div>  
        </div>
    </div>
</div>
