<sui-modal *ngIf="showModal" class="modal" isClosable="true" (dismissed)="showModal=false" (approved)="recordResults()" #modal>
        <div class="header">
            Train Questions
        </div>
        <div class="modalContent">
            <div class="ui list" style="margin:auto;">
                <a class="item">
                    <sui-checkbox class="toggle" name="time" (checkChange)="changeTime($event)">
                        On Time?
                    </sui-checkbox>
                </a>
                <a class="item">
                    <sui-checkbox class="toggle" name="crowded" (checkChange)="changeCrowded($event)">
                        Crowded?
                    </sui-checkbox>
                </a>
            </div>
        </div>  
        <div class="actions">    
            <div class="ui button" (click)="modal.approve()">Submit</div>
            <div class="ui checkbox"></div>
        </div>
    </sui-modal>
<div class="background">
    <div class="ui label" style="position:absolute;top:0;right:0;font-size:24px">Tokens: {{tokens}}</div>
    <div class="status">
            <!-- <div class="ui {{dimScreen}} dimmer" style="z-index: 1"></div> -->
        <div class="navigation">
            <button class="ui huge icon button" routerLink="/home">
                <i class="long arrow alternate left icon"></i>
            </button>
        </div>
        <div class="table">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Predicted Time</th>
                        <th>Scheduled Time</th>
                        <th>Difference</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="openModal($event.target.parentElement.id)" class="rows" *ngFor="let d of data" [id]="d.id">
                        <td>{{d["predicted"]}}</td>
                        <td>{{d["scheduled"]}}</td>
                        <td>{{d["difference"]}}</td>
                        <td>{{d["score"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div class="modal">
    <div class="ui {{modalStatus}} modal">
        <button class="ui icon button" (click)="closeModal()" style="float:right">
            <i class="close icon"></i>
        </button>
        <div class="header">
            Train Questions
        </div>
        
        <div class="ui list" style="margin:auto;width:30%;padding-top:30px">
            <a class="item">
                <div class="ui big horizontal label">On time?</div>
                <div class="ui checkbox">
                <input type="checkbox">
                </div>
            </a>
            <a class="item">
                <div class="ui big horizontal label">Crowded?</div>
                <div class="ui toggle checkbox" name="public">
                    <input type="checkbox">
                </div>
            </a>
        </div>
        <div style="position:absolute;right:10px;bottom:10px">    
            <div class="ui button" (click)="closeModal()">Submit</div>
            <div class="ui checkbox"></div>
        </div>
    </div>
</div> -->