.table {
    padding: 15px;
    /* position: relative;
    top: -20px; */
    width: 80%;
    margin: auto;
    position: relative;
    top: -30px;
    /* z-index: -1; */
}
.navigation {
    padding: 10px;
    z-index: -2;
}
.status {
    /* display: inline; */
    /* background-color: lightblue; */
   /* background-color: darkgray; */
}
.rows:hover {
    background-color:lightgray;
    cursor: pointer;
}
.rows:active {
    background-color: transparent;
}
.modal {
    margin: auto;
    width: 90%;
    height: 60%;
    z-index: 2;
    position: relative;
    top: -60px;
}
.questions {
    margin: auto;
}