.table {
    /* padding: 15px; */
    /* position: relative;
    top: -20px; */
    width: 65%;
    position: relative;
    margin-top: 25px;
    left: 10%;
    /* right:6%; */
    /* z-index: -1; */
}
.navigation {
    padding: 10px;
    z-index: -2;
}
.status {
    /* display: inline; */
    /* background-color: lightblue; */
   /* background-color: darkgray; */
}
.rows:hover {
    background-color:lightgray;
    cursor: pointer;
}
.rows:active {
    background-color: transparent;
}
.modal {
    margin: auto;
    width: 90%;
    height: 60%;
    z-index: 2;
    position: relative;
    top: -60px;
}
.questions {
    margin: auto;
}
.modalContent {
    padding: 20px;
    background-color: lightgray;
}
.background {
    background-image: url("/assets/Background-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    height: 100%;
}